.images:nth-child(odd) {
  grid-area: main-left;
}

.images:nth-child(even) {
  grid-area: main-right;
}

.images {
  max-width: 100%;
  height: auto;
  grid-area: main;
}

.copyright {
  grid-area: footer-left;
}