.menu {
  margin: 0 1rem;
  list-style: none;
}

.menu li {
  padding: 1rem;
}

.title {
  margin: 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}