.container {
  /* max-width: 1440px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title menu"
    "main-left main-right"
    "footer-left footer-right";
  
  gap: 3rem;
  margin: 0 auto;
  padding: 2rem 3rem;
  border: 1px solid red;
  height: 100vh;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.15;
  grid-area: title;
  margin: 0;
}

.menu {
  list-style: none;
  grid-area: menu;
  margin: 0;
  padding: 0;
}

.menuHeader {
  /* align-self: end; */
}

.menu li {
  padding: 1rem;
  display: inline;
  vertical-align: bottom;  
  margin: 0;
  padding: 0 3rem 0 0;
}

.menu li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.description {
  grid-area: main-right;
  align-self: end;
  margin: 0;
}

.description p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.image {
  max-width: 100%;
  height: auto;
  grid-area: main-left;
  align-self: end;
}

.contact {
  grid-area: footer-right;
}

.contact span {
  margin-right: 2rem;
}

.contact a {
  text-decoration: none;
  color: #000;
}

.icon {
  height: 1rem;
  vertical-align: bottom;
}

.copyright {
  grid-area: footer-left;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "menu"
    "title"
    "main-right"
    "main-left"
    "footer-left";
    gap: 3rem;
    margin: 6rem 1rem 2rem;
  }
}