.menu li a {
  font-size: 1.5rem;
}

.description {
  grid-area: main-right;
  align-self: end;
  
  margin: 0;
}

.description p {
  margin-bottom: 0;

  font-size: 1.5rem;
  line-height: 1.4;
}

.image {
  grid-area: main-left;
  align-self: end;
}

.contact {
  grid-area: footer-right;
}

.contact span {
  margin-right: 2rem;
}

.contact a {
  text-decoration: none;
  color: #000;
}

.icon {
  height: 1rem;
  vertical-align: middle;
}

.copyright {
  grid-area: footer-left;
}